<!-- Body Content -->

<!-- 'Place' Cards  -->

        <% @places.each do |place| %>
          <div class = "opaque_box col-10 offset-1">
            <h2><%= place.name %></h2>
            <i><%= place.address %></i><br/>
            <p><%= place.description %></p><br/>
         </div>
        <% end %>

<!-- Pagination - GEM -->

        <%= paginate @places %>

        <!-- paginate is Method created by GEM -->
        <!-- Method instructs view as to which records to show  -->
        <!-- View must still have 'table / attributes defined seperately' -->
